<div class="container border border-4 border-primary mt-4 p-3">

  <!-- Header Row -->
  <div class="row  mb-4">
    <div class="col  text-center">
      <h2>Simple Point of Sales</h2>
    </div>
  </div>

  <!-- Main Products and Shoppping Cart  Row -->
  <div class="row ">
    <div class="col-3 ">
      <app-product></app-product>
    </div>
    <div class="col-9 ">
      <app-shopping-cart></app-shopping-cart>
    </div>
  </div>

  <!-- Footer Row -->
  <div class="row mt-4">
    <div class="col text-start ">
      <p class="mb-0 fw-bold">Student Name: Asma Student Id: 991699083</p>
    </div>
  </div>

</div>
